# Week 4 Peer Review

Week 4 Peer Review - Working with Distributions and DataFrames. To help you with this task, comments are added to each cell.

In [38]:
# Import the required packages
using Distributions, DataFrames

In [39]:
# Seed the random number generator
srand(1234);

In [107]:
# Question 4: Create the 3 x 30 array named array_1
array_1 = [rand(30) rand(Normal(10, 2), 30) rand(5:15, 30)]

30x3 Array{Float64,2}:
 0.644398   13.3729   10.0
 0.865761    7.637    14.0
 0.730436   10.849    13.0
 0.967919   12.0972   12.0
 0.863701   11.9085   15.0
 0.60349    12.4469    5.0
 0.448902   10.5322    9.0
 0.486367    8.58664   5.0
 0.0313024   9.0758   10.0
 0.511082   11.4893   15.0
 0.195983    8.89863  13.0
 0.213959    8.56344   6.0
 0.68774    11.5383   12.0
 ⋮
 0.195476    8.14206  12.0
 0.873427   11.0805   12.0
 0.312677    9.07463   9.0
 0.0593203  10.2637    7.0
 0.0121844  10.035    10.0
 0.176199    9.82866  15.0
 0.727971    8.10913  12.0
 0.0749607   9.66963   9.0
 0.954453    8.67184  15.0
 0.661208    9.89806  13.0
 0.705807   11.892    12.0
 0.540058    7.04817   9.0

In [102]:
# Question 5: Mean and variance of column 1
col1_mean = mean(array_1[:, 1])
col1_var = var(array_1[:, 1])
println("Column 1: Mean: ", col1_mean, " Variance: ", col1_var)

Column 1: Mean: 0.4608292401911903 Variance: 0.07558227892032895

In [108]:
# Question 5 (continued): Mean and variance of column 2
col2_mean = mean(array_1[:, 2])
col2_var = var(array_1[:, 2])
println("Column 2: Mean: ", col2_mean, " Variance: ", col2_var)

Column 2: Mean: 9.934826017706849 Variance: 2.94102084587881

In [109]:
# Question 5 (continued): Mean and variance of column 3
col3_mean = mean(array_1[:, 3])
col3_var = var(array_1[:, 3])
println("Column 3: Mean: ", col3_mean, " Variance: ", col3_var)

Column 3: Mean: 10.8 Variance: 9.820689655172412

In [110]:
# Question 6: Import array_1 into a DataFrame named df
df = convert(DataFrame, array_1)

30×3 DataFrames.DataFrame
│ Row │ x1        │ x2      │ x3   │
├─────┼───────────┼─────────┼──────┤
│ 1   │ 0.644398  │ 13.3729 │ 10.0 │
│ 2   │ 0.865761  │ 7.637   │ 14.0 │
│ 3   │ 0.730436  │ 10.849  │ 13.0 │
│ 4   │ 0.967919  │ 12.0972 │ 12.0 │
│ 5   │ 0.863701  │ 11.9085 │ 15.0 │
│ 6   │ 0.60349   │ 12.4469 │ 5.0  │
│ 7   │ 0.448902  │ 10.5322 │ 9.0  │
│ 8   │ 0.486367  │ 8.58664 │ 5.0  │
│ 9   │ 0.0313024 │ 9.0758  │ 10.0 │
│ 10  │ 0.511082  │ 11.4893 │ 15.0 │
│ 11  │ 0.195983  │ 8.89863 │ 13.0 │
⋮
│ 19  │ 0.195476  │ 8.14206 │ 12.0 │
│ 20  │ 0.873427  │ 11.0805 │ 12.0 │
│ 21  │ 0.312677  │ 9.07463 │ 9.0  │
│ 22  │ 0.0593203 │ 10.2637 │ 7.0  │
│ 23  │ 0.0121844 │ 10.035  │ 10.0 │
│ 24  │ 0.176199  │ 9.82866 │ 15.0 │
│ 25  │ 0.727971  │ 8.10913 │ 12.0 │
│ 26  │ 0.0749607 │ 9.66963 │ 9.0  │
│ 27  │ 0.954453  │ 8.67184 │ 15.0 │
│ 28  │ 0.661208  │ 9.89806 │ 13.0 │
│ 29  │ 0.705807  │ 11.892  │ 12.0 │
│ 30  │ 0.540058  │ 7.04817 │ 9.0  │

In [111]:
# Question 7: Change the names of the columns to Var1, Var2, and Var3
rename!(df, Dict(:x1 => :Var1, :x2 => :Var2, :x3 => :Var3))

30×3 DataFrames.DataFrame
│ Row │ Var1      │ Var2    │ Var3 │
├─────┼───────────┼─────────┼──────┤
│ 1   │ 0.644398  │ 13.3729 │ 10.0 │
│ 2   │ 0.865761  │ 7.637   │ 14.0 │
│ 3   │ 0.730436  │ 10.849  │ 13.0 │
│ 4   │ 0.967919  │ 12.0972 │ 12.0 │
│ 5   │ 0.863701  │ 11.9085 │ 15.0 │
│ 6   │ 0.60349   │ 12.4469 │ 5.0  │
│ 7   │ 0.448902  │ 10.5322 │ 9.0  │
│ 8   │ 0.486367  │ 8.58664 │ 5.0  │
│ 9   │ 0.0313024 │ 9.0758  │ 10.0 │
│ 10  │ 0.511082  │ 11.4893 │ 15.0 │
│ 11  │ 0.195983  │ 8.89863 │ 13.0 │
⋮
│ 19  │ 0.195476  │ 8.14206 │ 12.0 │
│ 20  │ 0.873427  │ 11.0805 │ 12.0 │
│ 21  │ 0.312677  │ 9.07463 │ 9.0  │
│ 22  │ 0.0593203 │ 10.2637 │ 7.0  │
│ 23  │ 0.0121844 │ 10.035  │ 10.0 │
│ 24  │ 0.176199  │ 9.82866 │ 15.0 │
│ 25  │ 0.727971  │ 8.10913 │ 12.0 │
│ 26  │ 0.0749607 │ 9.66963 │ 9.0  │
│ 27  │ 0.954453  │ 8.67184 │ 15.0 │
│ 28  │ 0.661208  │ 9.89806 │ 13.0 │
│ 29  │ 0.705807  │ 11.892  │ 12.0 │
│ 30  │ 0.540058  │ 7.04817 │ 9.0  │

In [112]:
# Question 8: Create and new DataFrame named df2 from the last 20 rows of df
df2 = df[end-19:end, :]

20×3 DataFrames.DataFrame
│ Row │ Var1      │ Var2    │ Var3 │
├─────┼───────────┼─────────┼──────┤
│ 1   │ 0.195983  │ 8.89863 │ 13.0 │
│ 2   │ 0.213959  │ 8.56344 │ 6.0  │
│ 3   │ 0.68774   │ 11.5383 │ 12.0 │
│ 4   │ 0.131091  │ 9.14709 │ 15.0 │
│ 5   │ 0.717274  │ 7.31557 │ 10.0 │
│ 6   │ 0.435805  │ 9.96254 │ 5.0  │
│ 7   │ 0.766894  │ 12.8039 │ 12.0 │
│ 8   │ 0.0490647 │ 8.10624 │ 8.0  │
│ 9   │ 0.195476  │ 8.14206 │ 12.0 │
│ 10  │ 0.873427  │ 11.0805 │ 12.0 │
│ 11  │ 0.312677  │ 9.07463 │ 9.0  │
│ 12  │ 0.0593203 │ 10.2637 │ 7.0  │
│ 13  │ 0.0121844 │ 10.035  │ 10.0 │
│ 14  │ 0.176199  │ 9.82866 │ 15.0 │
│ 15  │ 0.727971  │ 8.10913 │ 12.0 │
│ 16  │ 0.0749607 │ 9.66963 │ 9.0  │
│ 17  │ 0.954453  │ 8.67184 │ 15.0 │
│ 18  │ 0.661208  │ 9.89806 │ 13.0 │
│ 19  │ 0.705807  │ 11.892  │ 12.0 │
│ 20  │ 0.540058  │ 7.04817 │ 9.0  │

In [113]:
# Question 9: Calculate simple descriptive statistics of all the columns in df2 using the describe() function
describe(df2)

Var1
Min      0.012184393212000044
1st Qu.  0.16492169600145445
Median   0.3742408496318459
Mean     0.424577586456942
3rd Qu.  0.7086741295327661
Max      0.9544526414979242
NAs      0
NA%      0.0%

Var2
Min      7.048165791328253
1st Qu.  8.45809595526499
Median   9.408356309779766
Mean     9.502458257872624
3rd Qu.  10.092187706312258
Max      12.80391969217296
NAs      0
NA%      0.0%

Var3
Min      5.0
1st Qu.  9.0
Median   12.0
Mean     10.8
3rd Qu.  12.25
Max      15.0
NAs      0
NA%      0.0%

In [114]:
# Question 10: Add a column to df2 named Cat1 to df2 consisting of randomly selecting either the strings GraoupA or GroupB
df2[:Cat1] = rand(["Group A", "Group B"], 20)
df2

20×4 DataFrames.DataFrame
│ Row │ Var1      │ Var2    │ Var3 │ Cat1      │
├─────┼───────────┼─────────┼──────┼───────────┤
│ 1   │ 0.195983  │ 8.89863 │ 13.0 │ "Group A" │
│ 2   │ 0.213959  │ 8.56344 │ 6.0  │ "Group B" │
│ 3   │ 0.68774   │ 11.5383 │ 12.0 │ "Group A" │
│ 4   │ 0.131091  │ 9.14709 │ 15.0 │ "Group B" │
│ 5   │ 0.717274  │ 7.31557 │ 10.0 │ "Group A" │
│ 6   │ 0.435805  │ 9.96254 │ 5.0  │ "Group A" │
│ 7   │ 0.766894  │ 12.8039 │ 12.0 │ "Group B" │
│ 8   │ 0.0490647 │ 8.10624 │ 8.0  │ "Group A" │
│ 9   │ 0.195476  │ 8.14206 │ 12.0 │ "Group B" │
│ 10  │ 0.873427  │ 11.0805 │ 12.0 │ "Group A" │
│ 11  │ 0.312677  │ 9.07463 │ 9.0  │ "Group A" │
│ 12  │ 0.0593203 │ 10.2637 │ 7.0  │ "Group A" │
│ 13  │ 0.0121844 │ 10.035  │ 10.0 │ "Group B" │
│ 14  │ 0.176199  │ 9.82866 │ 15.0 │ "Group B" │
│ 15  │ 0.727971  │ 8.10913 │ 12.0 │ "Group B" │
│ 16  │ 0.0749607 │ 9.66963 │ 9.0  │ "Group B" │
│ 17  │ 0.954453  │ 8.67184 │ 15.0 │ "Group A" │
│ 18  │ 0.661208  │ 9.89806 │ 13.0 │ "Group B" │
│ 19  │ 0.705807  │ 11.892  │ 12.0 │ "Group B" │
│ 20  │ 0.540058  │ 7.04817 │ 9.0  │ "Group A" │

In [115]:
# Question 11: Create a new DataFrame named df3
df3 = DataFrame(A = 1:20, B = 21:40, C = 41:60)

20×3 DataFrames.DataFrame
│ Row │ A  │ B  │ C  │
├─────┼────┼────┼────┤
│ 1   │ 1  │ 21 │ 41 │
│ 2   │ 2  │ 22 │ 42 │
│ 3   │ 3  │ 23 │ 43 │
│ 4   │ 4  │ 24 │ 44 │
│ 5   │ 5  │ 25 │ 45 │
│ 6   │ 6  │ 26 │ 46 │
│ 7   │ 7  │ 27 │ 47 │
│ 8   │ 8  │ 28 │ 48 │
│ 9   │ 9  │ 29 │ 49 │
│ 10  │ 10 │ 30 │ 50 │
│ 11  │ 11 │ 31 │ 51 │
│ 12  │ 12 │ 32 │ 52 │
│ 13  │ 13 │ 33 │ 53 │
│ 14  │ 14 │ 34 │ 54 │
│ 15  │ 15 │ 35 │ 55 │
│ 16  │ 16 │ 36 │ 56 │
│ 17  │ 17 │ 37 │ 57 │
│ 18  │ 18 │ 38 │ 58 │
│ 19  │ 19 │ 39 │ 59 │
│ 20  │ 20 │ 40 │ 60 │

In [116]:
# Question 12: Change indicated values to empty entries
df3[10, 1] = NA
df3[15, 2] = NA
df3[19, 3] = NA
df3

20×3 DataFrames.DataFrame
│ Row │ A  │ B  │ C  │
├─────┼────┼────┼────┤
│ 1   │ 1  │ 21 │ 41 │
│ 2   │ 2  │ 22 │ 42 │
│ 3   │ 3  │ 23 │ 43 │
│ 4   │ 4  │ 24 │ 44 │
│ 5   │ 5  │ 25 │ 45 │
│ 6   │ 6  │ 26 │ 46 │
│ 7   │ 7  │ 27 │ 47 │
│ 8   │ 8  │ 28 │ 48 │
│ 9   │ 9  │ 29 │ 49 │
│ 10  │ NA │ 30 │ 50 │
│ 11  │ 11 │ 31 │ 51 │
│ 12  │ 12 │ 32 │ 52 │
│ 13  │ 13 │ 33 │ 53 │
│ 14  │ 14 │ 34 │ 54 │
│ 15  │ 15 │ NA │ 55 │
│ 16  │ 16 │ 36 │ 56 │
│ 17  │ 17 │ 37 │ 57 │
│ 18  │ 18 │ 38 │ 58 │
│ 19  │ 19 │ 39 │ NA │
│ 20  │ 20 │ 40 │ 60 │

In [117]:
# Question 13: Create DataFrame df4 that contains no rows with NaN (NA) values
df4 = df3[complete_cases(df3), :]

17×3 DataFrames.DataFrame
│ Row │ A  │ B  │ C  │
├─────┼────┼────┼────┤
│ 1   │ 1  │ 21 │ 41 │
│ 2   │ 2  │ 22 │ 42 │
│ 3   │ 3  │ 23 │ 43 │
│ 4   │ 4  │ 24 │ 44 │
│ 5   │ 5  │ 25 │ 45 │
│ 6   │ 6  │ 26 │ 46 │
│ 7   │ 7  │ 27 │ 47 │
│ 8   │ 8  │ 28 │ 48 │
│ 9   │ 9  │ 29 │ 49 │
│ 10  │ 11 │ 31 │ 51 │
│ 11  │ 12 │ 32 │ 52 │
│ 12  │ 13 │ 33 │ 53 │
│ 13  │ 14 │ 34 │ 54 │
│ 14  │ 16 │ 36 │ 56 │
│ 15  │ 17 │ 37 │ 57 │
│ 16  │ 18 │ 38 │ 58 │
│ 17  │ 20 │ 40 │ 60 │